page-pedidos {
    ion-card{  
        min-width: 95vw; 
        width: 95vw; 
        font-weight: bold;  
    }
    ion-card-header{
        white-space: normal;
    }
    .status{ 
        float: right;
    }  
    .redcard{
        background-color: red; 
        font-weight: bold;
        color: white;
    }
    .search{
       position: fixed;  
       min-width: 100%; 
       width: 100%;  
    } 
    .titulo{
        margin-left: 10vw;  
        width: 50vw;
    }
}
