page-clientes {
    ion-card{  
        min-width: 95vw; 
        width: 95vw; 
        font-weight: bold;   
    }
    ion-card-header{
        white-space: normal;
    }
    .cod{ 
        float: right;
    } 
    .redcard{
        background-color: red; 
        font-weight: bold;
        color: white;
    }
    .titulo{
        margin-left: 10vw;  
        width: 50vw;
    }
    .search{
       position: fixed;
       background: #FFFFFF;
       min-width: 100%;
       width: 100%;
    } 

}
