page-clientes {
    ion-card{  
        min-width: 95vw; 
        width: 95vw; 
        font-weight: bold;   
    }
    ion-card-header{
        white-space: normal;
    }
    .cod{ 
        float: right;
    }

    .refresh{ 
        font-size: 10vw; 
        color: white;
        margin-right:2vw;
    }
    .redcard{
        background-color: red; 
        font-weight: bold;
        color: white;
    }

    .search{
       position: fixed;
       background: #FFFFFF;
       min-width: 100%;
       width: 100%;
    }

}
